<!DOCTYPE html>
<html>
<head>
  <title>Ask a Question</title>
</head>
<body>
  <h1>Ask Your Question</h1>
  <form action="/answer" method="get">
    <label for="question">Question:</label><br>
    <input type="text" id="question" name="question"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
